* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  min-height: 100vh;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  font-family: 'Dancing Script', cursive;
}

p {
  font-weight: bold;
}

.header {
  padding: 20px;
  background-color: #3393a6;
  color: white;
  text-align: center;
  flex: 0 0 auto;
}

.img-container {
  display: grid;
  max-width: 400px;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  justify-items: center;
  float: right;
  margin-left: 20px; 
  margin-top: 20px;
}

.img-container img {
  max-width: 100%;
  height: auto; 
}

.navbar {
  display: flex;
  background-color: #424242;
  flex: 0 0 auto;
}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: #3393a6;
  color: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex: 1 0 auto;
  padding: 20px;
  flex-wrap: wrap;
}

.form-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  margin-bottom: 20px;
}

.column {
  flex: 1 0 100%;
  padding: 20px;
  max-width: 500px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.column h2, .column h5 {
  margin: 0;
  padding-bottom: 15px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px; 
}

input[type="submit"], input[type="reset"] {
  background-color: #3393a6;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover, input[type="reset"]:hover {
  background-color: #287f8c;
}

.graphic-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.graphic-container img {
  max-width: 600px; 
  height: auto;
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s ease;
}

.graphic-container img:hover {
  transform: scale(1.05); 
}

.footer {
  padding: 20px;
  background-color: #3393a6;
  color: white;
  text-align: center;
  flex-shrink: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
}

.footer::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #3393a6 transparent;
}

.footer p {
  margin: 5px;
}

.footer p:first-child {
  font-weight: bold;
  font-size: 1.2em;
}

.footer p:last-child {
  font-size: 0.8em;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: -20px;
  margin-bottom: 180px;
}

.video-link {
  background-color: #3393a6;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.video-link:hover {
  background-color: #287f8c;
}

@media screen and (max-width: 700px) {
  .navbar {
    flex-direction: column;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }
}
